<footer class="text-center py-8 md:py-12 main-bg">
    <div class="container">
        <div class="text-3xl text-white display-font mb-2">
            {{t "Sign up to our newsletters"}}
        </div>

        <div class="text-sm text-white">
            {{t
                "Subscribe now to get notified about excluive stories from the writing every week!"
            }}
        </div>

        <form class="mt-10 max-w-[550px] mx-auto" data-members-form="subscribe">
            <div
                class="relative flex flex-row main-color bg-white rounded-lg text-sm"
            >
                <input
                    data-members-email
                    type="email"
                    placeholder="{{t 'Email Address'}}"
                    class="main-color rounded-lg text-sm px-4 py-4 placeholder:text-xs placeholder:uppercase block !outline-none w-full placeholder:text-grey"
                    required
                    autocomplete="off"
                />
                <button
                    type="submit"
                    class="rounded-lg py-3 text-xs tracking-wide uppercase font-bold second-bg main-color hover:scale-125 inline-block px-8 transition-transform duration-300 ease-out-back"
                >
                    {{t "subscribe"}}
                </button>
            </div>
            <div class="mt-2 text-left font-medium text-white italic">
                <small class="alert-loading block">{{t
                        "Processing your application..."
                    }}</small>
                <small class="alert-success block">{{t
                        "Please check your inbox and click the link to confirm your subscription..."
                    }}</small>
                <small class="alert-error block">{{t
                        "There was an error sending the email..."
                    }}</small>
            </div>
        </form>

        <div class="grid grid-cols-1 md:grid-cols-3 mt-6 md:mt-12 gap-y-5 md:gap-0">
            {{#if @site.secondary_navigation}}
                {{navigation type="secondary"}}
            {{/if}}
            <div class="text-center">
                <a href="{{@site.url}}">
                    {{> logo svgClasses="block mx-auto max-w-[72px] fill-white hover:scale-125 transition-transform duration-300 ease-out-back"}}
                </a>
                <div class="text-center text-white text-xs mt-4 font-semibold">
                    &copy; 2021-{{date format="YYYY"}}
                    <a href="{{@site.url}}">{{@site.title}}</a>
                </div>
            </div>

            <!-- Social -->
            <div
                class="flex items-center justify-center md:ml-auto space-x-6 h-full"
            >
                <a
                        href="https://www.youtube.com/channel/UC8GW2Q0u9us_hEbriEJ5J-g"
                        target="_blank"
                    >
                    <i
                        class="fa-brands fa-youtube fa-3x text-white hover:scale-125 transition-transform duration-300 ease-out-back"
                    ></i>
                </a>
                <a
                        href="https://www.linkedin.com/in/brett-abraham/"
                        target="_blank"
                    >
                    <i
                        class="fa-brands fa-linkedin fa-3x text-white hover:scale-125 transition-transform duration-300 ease-out-back"
                    ></i>
                </a>
                <a
                        href="https://infantgrandpa.itch.io/"
                        target="_blank"
                    >
                    <i
                        class="fa-brands fa-itch-io fa-3x text-white hover:scale-125 transition-transform duration-300 ease-out-back"
                    ></i>
                </a>
                {{#if @site.facebook}}
                    <a
                        href="https://facebook.com/{{@site.facebook}}"
                        target="_blank"
                    >
                        <i
                            class="fa-brands fa-facebook fa-3x text-white hover:scale-125 transition-transform duration-300 ease-out-back"
                        ></i>
                    </a>
                {{/if}}
                {{#if @site.twitter}}
                    <a
                        href="https://twitter.com/{{@site.twitter}}"
                        target="_blank"
                    >
                        <i
                            class="fa-brands fa-twitter fa-3x text-white hover:scale-125 transition-transform duration-300 ease-out-back"
                        ></i>
                    </a>
                {{/if}}
                {{#if @custom.instagram_link}}
                    <a
                        href="{{@custom.instagram_link}}"
                        target="_blank"
                    >
                        <i
                            class="fa-brands fa-instagram fa-3x text-white hover:scale-125 transition-transform duration-300 ease-out-back"
                        ></i>
                    </a>
                {{/if}}
            </div>
            <!-- End Social -->

        </div>

    </div>
</footer>