<article class="h-auto bg-white rounded-[32px] p-6 shadow-md trex_post md:flex md:flex-row">
    {{!-- {{^has tag="#project"}}
        <div class="flex justify-between flex-col mb-5 sm:mb-0 sm:flex-row">
            <div class="flex space-x-2 justify-center sm:justify-end">
                {{#if featured}}
                    <div class="h-[40px] w-[40px] flex justify-center items-center bg-[#f6f7f8] rounded-full border-gray-200 border" data-tippy-content="{{t 'Featured post'}}" data-tippy-placement="bottom" data-tippy-animation="fade">
                        {{> 'icons/star'}}
                    </div>
                {{/if}}
                {{#unless access}}
                    <div class="h-[40px] w-[40px] flex justify-center items-center bg-[#f6f7f8] rounded-full border-gray-200 border" data-tippy-content="{{t 'Locked'}}" data-tippy-placement="bottom" data-tippy-animation="fade">
                        {{> 'icons/lock'}}
                    </div>
                {{/unless}}
            </div>
        </div>
    {{/has}} --}}
    {{#if feature_image}}
        <div class="relative mb-5 md:mb-0 md:mr-5 w-full">
            <a href="{{url}}" class="rounded-lg relative overflow-hidden aspect-square md:aspect-auto w-full h-full block">
                <img class="rounded-lg hover:scale-[1.08] transition duration-300 ease-in-out lazyload fadeup absolute object-cover object-top w-full h-full" src="{{img_url feature_image size="xxs"}}" data-src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
            </a>
        </div>
    {{/if}}
    
    <div>
        {{#if title}}
            <a href="{{url}}">
                <h3 class="mb-1 text-base display-font second-color leading-7">
                    {{title}}
                </h3>
            </a>
        {{/if}}
        <div class="text-sm font-medium line-clamp-3">
            {{excerpt}}
        </div>
        
        {{^has tag="#project"}}
            <hr class="border-gray-100 my-4">
            <div class="flex justify-between items-center">
                <a href="{{url}}" class="text-xs uppercase space-medium second-color">
                    {{t "Read more"}}
                </a>
                <div class="text-xs text-grey font-medium">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    <span> - </span>    
                    <span>{{reading_time}}</span>
                </div>
            </div>
        {{/has}}
    </div>
</article>