{{!< default}}

<main>
    {{#post}}
        {{#match @page.show_title_and_feature_image}}{{/match}}
        <div class="border-b border-gray-100 pb-16">
            <article class="{{post_class}}">
                <div class="main-bg py-6">
                    <div class="container">
                        <h1 class="display-font text-white">
                            {{title}}
                        </h1>
                        <div class="text-base font-medium text-white mt-4">
                            {{excerpt}}
                        </div>
                        <div class="text-xs text-white font-medium">
                            <i class="fa-regular fa-clock"></i>
                            <span>{{reading_time}}</span>
                        </div>
                    </div>
                    <div>
                        <div class="h-auto rounded-[32px]">
                        {{#if feature_image}}
                            <figure class="relative">
                                <div class="rounded-[32px] relative overflow-hidden h-[350px] md:h-[500px] lg:h-[600px] w-full block">
                                    <img class="rounded-[32px] lazyload fadeup absolute object-cover object-top w-full h-full" src="{{img_url feature_image size="xxs"}}" data-src="{{img_url feature_image size="xl"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                                </div>
                                {{#if feature_image_caption}}
                                    <figcaption class="text-xs mt-2 text-white text-center"> 
                                    {{feature_image_caption}}
                                    </figcaption>
                                {{/if}}
                            </figure>
                        {{/if}}
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="max-w-2xl mx-auto pt-4">
                        <div
                            id="trex_article_content"
                            class="prose-base prose-img:m-0 prose-hr:border-gray-200 font-medium prose-headings:main-color prose-figcaption:main-color"
                        >
                            {{content}}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    {{/post}}
</main>